<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Post" action="index" ></route>
    <route url="/listPosts" module="Post" action="listPosts" ></route>
    <route url="/post-([0-9]+)" module="Post" action="post" vars="id" ></route>
    <route url="/addPost" module="Post" action="insertPost" ></route>
    <route url="/updatePost-([0-9]+)" module="Post" action="updatePost" vars="id" ></route>
    <route url="/deletePost-([0-9]+)" module="Post" action="deletePost" vars="id" ></route>
    <route url="/addComment-([0-9]+)" module="Comment" action="insertComment" vars="id" ></route>
    <route url="/listComments" module="Comment" action="listComments" ></route>
    <route url="/validateComment-([0-9]+)" module="Comment" action="validateComment" vars="id" ></route>
    <route url="/deleteComment-([0-9]+)" module="Comment" action="deleteComment" vars="id" ></route>
    <route url="/listCategories" module="Category" action="listCategories" ></route>
    <route url="/addCategory" module="Category" action="addCategory" ></route>
    <route url="/addCategoryNewPost" module="Category" action="addCategoryNewPost" ></route>
    <route url="/addCategoryUpdate" module="Category" action="addCategoryUpdate" ></route>
    <route url="/removeCategory-([0-9]+)" module="Category" action="removeCategory" vars="id" ></route>
    <route url="/removeCategoryNewPost-([0-9]+)" module="Category" action="removeCategoryNewPost" vars="id" ></route>
    <route url="/removePostCategory-([0-9]+)-([0-9]+)" module="Category" action="removePostCategory" vars="postId,categoryId" ></route>
    <route url="/deleteImage-([0-9]+)-([0-9]+)" module="Image" action="deleteImage" vars="id,postId" ></route>
    <route url="/register" module="User" action="register" ></route>
    <route url="/login" module="User" action="login" ></route>
    <route url="/logout" module="User" action="logout" ></route>
    <route url="/listUsers" module="Admin" action="listUsers" ></route>
    <route url="/deleteUser-([0-9]+)" module="User" action="deleteUser" vars="id" ></route>
</routes>